html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-link-style {
    font-family: sans-serif;
    text-decoration: none;
    color: #A29A99;
    padding: 10px;
}
