@{
    ViewData["Title"] = "Admin Page";
}

<div class="card">
    <h1 class ="card-header">@ViewData["Title"]</h1>
    <div class="card-body">        
        <div class="card">
            <h4 class="card-header">AdminPages</h4>
            <div class="card-body">
                <a class="btn btn-primary" href="/Buildings/Index">Buildings-Index</a>
                <a class="btn btn-primary" href="/Stories/Index">Stories-Index</a>
                <a class="btn btn-primary" href="/Rooms/Index">Rooms-Index</a>
                <a class="btn btn-primary" href="/Companies/Index">Companies-Index</a>
                <a class="btn btn-primary" href="/Users/Index">Users-Index</a>
                <a class="btn btn-primary" href="/MapRoutes/Index">MapRoutes-Index</a>
                <a class="btn btn-primary" href="/Steps/Index">Steps-Index</a>
                <a class="btn btn-primary" href="/Events/Index">Events-Index</a>
            </div>            
        </div>
        <div class="card">
            <h4 class="card-header">UserPages</h4>
            <div class="card-body">
                <a class="btn btn-primary" href="/Buildings/UserIndex">Buildings-Index</a>
                <a class="btn btn-primary" href="/Stories/UserIndex">Stories-Index</a>
                <a class="btn btn-primary" href="/Rooms/UserIndex">Rooms-Index</a>
                <a class="btn btn-primary" href="/Companies/UserIndex">Companies-Index</a>
                <a class="btn btn-primary" href="/Users/UserIndex">Users-Index</a>
                <a class="btn btn-primary" href="/MapRoutes/UserIndex">MapRoutes-Index</a>
                <a class="btn btn-primary" href="/Steps/UserIndex">Steps-Index</a>
                <a class="btn btn-primary" href="/Events/UserIndex">Events-Index</a>
            </div>
        </div>
    </div>
</div>